body {
    background-color: blanchedalmond;
    color: brown;
}

img {
    width: 800px;
}

header {
    background-color: orange;
    font-size: 14pt;
}

footer {
    background-color: orange;
    font-size: 14pt;
}