{% extends "base.html" %}

{% block lab %}Лабораторная работа №4{% endblock %}

{% block main%}

    <h1>Заказ зерна</h1>
    
        <form method="post">
            <div>Зерно: {{ zerno }}, Вес: {{ vec }}, {{ zakaz }}{{ price }}</div>
            <div>
                <select name="zerno">
                    <option value="ячмень" {{ zerno == 'ячмень' and 'selected' }}>ячмень</option>
                    <option value="пшеница" {{ zerno == 'пшеница' and 'selected' }}>пшеница</option>
                    <option value="рожь" {{ zerno == 'рожь' and 'selected' }}>рожь</option>
                    <option value="овёс" {{ zerno == 'овёс' and 'selected' }}>овёс</option>
                </select>
            </div>
            <div>
                <label for="vec">Вес в тоннах</label>
                <input type="number" id="vec" name="vec">
            </div>
            <div>
                <button type="submit">Оформить заказ</button>
            </div>
            <ul>
                <li><a href="/lab4/zerno">Сброс</a></li>
            </ul>
        </form>

{% endblock main%}