{% extends "base.html" %}

{% block lab %} Расчетно-графическая работа {% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='rgz/rgz.js') }}"></script>
<style>
.modal {
    display: none;
    z-index: 100;
    box-shadow: 3px 3px 5px black;
    width: 400px;
    left: 23%;
    position: fixed;
    padding: 20px;
    top: 22%;
}

.zmodal {
    display: none;
    z-index: 100;
    box-shadow: 3px 3px 5px black;
    width: 400px;
    left: 75%;
    position: fixed;
    padding: 20px;
    top: 22%;
}
</style>
{% endblock %}

{% block main %}
    <div class="tovarii" style="top: 100px;">
    <h1>Склад</h1>

    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Артикул</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="tovar-list"></tbody>
    </table>
    </div>

    <script>
        filltovarList();
        fillzakazList();
    </script>

    <div>
        <button onclick="addtovar()" style="position: absolute; top: 135px; left: 150px;">Добавить товар</button>
    </div>

    <div class="zakazii" style="position: absolute; left: 900px; top: 100px;">
    <h1>Заказы</h1>

    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Артикул</th>
                <th>Действие</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody id="zakaz-list"></tbody>
    </table>
    </div>

    <div>
        <button onclick="addzakaz()" style="position: absolute; top: 135px; left: 1050px;">Добавить заказ</button>
    </div>

    <div class="modal">
        <input type="hidden" id="num">
        <label>
            Название:
            <input type="text" id="name">
        </label><br>

        <label>
            Количество:
            <input type="number" id="count" min="0">
        </label><br>

        <label>
            Артикул:
            <input type="number" id="article" min="0">
        </label><br>

        <button onclick="sendtovar()">OK</button>
        <button onclick="cancel()">Отмена</button>
    </div>

    <div class="zmodal">
        <input type="hidden" id="znum">
        <label>
            Название:
            <input type="text" id="zname">
        </label><br>

        <label>
            Количество:
            <input type="number" id="zcount" min="0">
        </label><br>

        <label>
            Артикул:
            <input type="number" id="zarticle" min="0">
        </label><br>

        <button onclick="sendzakaz()">OK</button>
        <button onclick="zcancel()">Отмена</button>
    </div>
{% endblock %}